/* Media query */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin mobile {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}